name: Python application

on: [push]

jobs:
  build-and-test:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: "3.8.0"
    - name: Install tox
      run: pip install tox
    - name: Run tests using tox
      run: tox