name: Python application

on: [push]

jobs:
  setup-environment:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: "3.8.0"


  test:
    - name: Install dependencies
      run: |
        pip install tox
    - name: Test with pytest
      run: |
        tox
